wsdl-builder/src/test/resources/regm/wsdlbuilder/expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
	name="Calendar" 
	targetNamespace="http://www.javamagazin.de/mvnjaxws/calendar"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.javamagazin.de/mvnjaxws/calendar"
	xmlns:calendar="http://www.javamagazin.de/mvnjaxws/calendar/types"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.javamagazin.de/mvnjaxws/calendar/types"
				schemaLocation="calendertypes.xsd" />
		</xsd:schema>
	</types>
	<message name="NoReturnValueTestRequestMessage">
		<part name="body" element="calendar:NoReturnValueTestRequest" />
	</message>

	<message name="NoParamTestRequestMessage">
		<part name="body" element="calendar:NoParamTestRequest" />
	</message>
	<message name="NoParamTestResponseMessage">
		<part name="body" element="calendar:NoParamTestResponse" />
	</message>

	<message name="OtherRequestMessage">
		<part name="body" element="calendar:OtherRequest" />
	</message>
	<message name="OtherResponseMessage">
		<part name="body" element="calendar:OtherResponse" />
	</message>

	<message name="GetDaysTillRequestMessage">
		<part name="body" element="calendar:GetDaysTillRequest" />
	</message>
	<message name="GetDaysTillResponseMessage">
		<part name="body" element="calendar:GetDaysTillResponse" />
	</message>
	<message name="GetDaysTillFaultMessage">
		<part name="body" element="calendar:GetDaysTillFault" />
	</message>
	
	<portType name="CalendarPortType">

		<operation name="NoReturnValueTest">
			<input message="tns:NoReturnValueTestRequestMessage" />
		</operation>


		<operation name="NoParamTest">
			<input message="tns:NoParamTestRequestMessage" />
			<output message="tns:NoParamTestResponseMessage" />
		</operation>


		<operation name="Other">
			<input message="tns:OtherRequestMessage" />
			<output message="tns:OtherResponseMessage" />
		</operation>


		<operation name="GetDaysTill">
			<input message="tns:GetDaysTillRequestMessage" />
			<output message="tns:GetDaysTillResponseMessage" />
			<fault name="GetDaysTillFault" message="tns:GetDaysTillFaultMessage" />
		</operation>

	</portType>
	<binding name="CalendarSoapBinding" type="tns:CalendarPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	
		<operation name="NoReturnValueTest">
			<soap:operation soapAction="NoReturnValueTest" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>

	
		<operation name="NoParamTest">
			<soap:operation soapAction="NoParamTest" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

	
		<operation name="Other">
			<soap:operation soapAction="Other" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

	
		<operation name="GetDaysTill">
			<soap:operation soapAction="GetDaysTill" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="GetDaysTillFault">
				<soap:fault name="GetDaysTillFault" use="literal" />
			</fault>
		</operation>
		
	</binding>
	<service name="CalendarService">
		<port name="CalendarPort" binding="tns:CalendarSoapBinding">
			<soap:address location="TODO" />
		</port>
	</service>
</definitions>