wsdl-builder/src/test/resources/regm/wsdlbuilder/expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
	name="Test" 
	targetNamespace="http://www.javamagazin.de/mvnjaxws/test"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.javamagazin.de/mvnjaxws/test"
	xmlns:test="http://www.javamagazin.de/mvnjaxws/test/test"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.javamagazin.de/mvnjaxws/test/types"
				schemaLocation="test.xsd" />
		</xsd:schema>
	</types>
	<message name="NoReturnValueTestRequestMessage">
		<part name="body" element="test:NoReturnValueTestRequest" />
	</message>

	<message name="NoParamTestRequestMessage">
		<part name="body" element="test:NoParamTestRequest" />
	</message>
	<message name="NoParamTestResponseMessage">
		<part name="body" element="test:NoParamTestResponse" />
	</message>

	<message name="ParamAndReturnValueAndFaultTestRequestMessage">
		<part name="body" element="test:ParamAndReturnValueAndFaultTestRequest" />
	</message>
	<message name="ParamAndReturnValueAndFaultTestResponseMessage">
		<part name="body" element="test:ParamAndReturnValueAndFaultTestResponse" />
	</message>
	<message name="ParamAndReturnValueAndFaultTestFaultMessage">
		<part name="body" element="test:ParamAndReturnValueAndFaultTestFault" />
	</message>
	
	<message name="ParamAndReturnValueTestRequestMessage">
		<part name="body" element="test:ParamAndReturnValueTestRequest" />
	</message>
	<message name="ParamAndReturnValueTestResponseMessage">
		<part name="body" element="test:ParamAndReturnValueTestResponse" />
	</message>
	
	<portType name="TestPortType">

		<operation name="NoReturnValueTest">
			<input message="tns:NoReturnValueTestRequestMessage" />
		</operation>

		<operation name="NoParamTest">
			<input message="tns:NoParamTestRequestMessage" />
			<output message="tns:NoParamTestResponseMessage" />
		</operation>

		<operation name="ParamAndReturnValueAndFaultTest">
			<input message="tns:ParamAndReturnValueAndFaultTestRequestMessage" />
			<output message="tns:ParamAndReturnValueAndFaultTestResponseMessage" />
			<fault name="ParamAndReturnValueAndFaultTestFault" message="tns:ParamAndReturnValueAndFaultTestFaultMessage" />
		</operation>

		<operation name="ParamAndReturnValueTest">
			<input message="tns:ParamAndReturnValueTestRequestMessage" />
			<output message="tns:ParamAndReturnValueTestResponseMessage" />
		</operation>

	</portType>
	<binding name="TestSoapBinding" type="tns:TestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	
		<operation name="NoReturnValueTest">
			<soap:operation soapAction="NoReturnValueTest" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	
		<operation name="NoParamTest">
			<soap:operation soapAction="NoParamTest" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
		<operation name="ParamAndReturnValueAndFaultTest">
			<soap:operation soapAction="ParamAndReturnValueAndFaultTest" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ParamAndReturnValueAndFaultTestFault">
				<soap:fault name="ParamAndReturnValueAndFaultTestFault" use="literal" />
			</fault>
		</operation>
	
		<operation name="ParamAndReturnValueTest">
			<soap:operation soapAction="ParamAndReturnValueTest" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
	</binding>
	<service name="TestService">
		<port name="TestPort" binding="tns:TestSoapBinding">
			<soap:address location="TODO" />
		</port>
	</service>
</definitions>